In [1]:
"""
pd 拼接，apply应用函数
"""


%matplotlib inline
import pandas as pd

In [4]:
url= 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'
dataframe=pd.read_csv(url)

In [5]:
print(dataframe.keys())

Index(['Name', 'PClass', 'Age', 'Sex', 'Survived', 'SexCode'], dtype='object')

In [8]:
print(dataframe.describe())

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

In [9]:
for name in dataframe['Name'][0:2]:
    print(name.upper())

ALLEN, MISS ELISABETH WALTON
ALLISON, MISS HELEN LORAINE

In [11]:
def uppercase(x):
    return x.upper()
dataframe['Name'].apply(uppercase)[0:2]

0    ALLEN, MISS ELISABETH WALTON
1     ALLISON, MISS HELEN LORAINE
Name: Name, dtype: object

In [14]:
result = dataframe.groupby('Sex').apply(lambda x: x.count())
print(result)

        Name  PClass  Age  Sex  Survived  SexCode
Sex
female   462     462  288  462       462      462
male     851     851  468  851       851      851

In [17]:
print(dataframe.describe())

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

In [19]:
employee_data={
    'id':['1','2','3','4'],
    'name':['amey','allen','alice','tim'],
}
dataframe_employee=pd.DataFrame(employee_data)
sales_data={
    'id':['3','4','5','6'],
    'total_sales':[100,200,300,400],
}
dataframe_sales=pd.DataFrame(sales_data)
dataframe_total=pd.merge(dataframe_employee,dataframe_sales,on='id')#how =inner
print(dataframe_total)

  id   name  total_sales
0  3  alice          100
1  4    tim          200

In [21]:
dataframe_total=pd.merge(dataframe_employee,dataframe_sales,on='id',how='outer')
print(dataframe_total)

  id   name  total_sales
0  1   amey          NaN
1  2  allen          NaN
2  3  alice        100.0
3  4    tim        200.0
4  5    NaN        300.0
5  6    NaN        400.0