In [16]:
"""
通过过滤进行筛选
重命名
查看唯一值
分组
"""
%matplotlib inline
import pandas as pd

In [17]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'
dataframe=pd.read_csv(url)

In [18]:
print(dataframe[dataframe['Sex']=='female'].head(3))

                                            Name PClass   Age     Sex  \
0                   Allen, Miss Elisabeth Walton    1st  29.0  female
1                    Allison, Miss Helen Loraine    1st   2.0  female
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.0  female

   Survived  SexCode
0         1        1
1         0        1
3         0        1

In [19]:
print(dataframe[(dataframe['Sex']=='female')&(dataframe['Age']<15.00)])

                                        Name PClass    Age     Sex  Survived  \
1                Allison, Miss Helen Loraine    1st   2.00  female         0
49                  Carter, Miss Lucile Polk    1st  14.00  female         1
338               Becker, Miss Marion Louise    2nd   4.00  female         1
340              Becker, Miss Ruth Elizabeth    2nd  12.00  female         1
376                   Collyer, Miss Marjorie    2nd   8.00  female         1
428                        Harper, Miss Nina    2nd   6.00  female         1
433                    Hart, Miss Eva Miriam    2nd   7.00  female         1
478                     LaRoche, Miss Louise    2nd   1.00  female         1
479                    LaRoche, Miss Simonne    2nd   3.00  female         1
501         Mellenger, Miss Madeleine Violet    2nd  13.00  female         1
537                  Quick, Miss Phyllis May    2nd   2.00  female         1
538                Quick, Miss Winifred Vera    2nd   8.00  female         1
578                        Watt, Miss Bertha    2nd  12.00  female         1
584                         Wells, Miss Joan    2nd   4.00  female         1
626                Andersson, Miss Ebba Iris    3rd   6.00  female         0
627         Andersson, Miss Ellis Anna Maria    3rd   2.00  female         0
630      Andersson, Miss Ingeborg Constancia    3rd   9.00  female         0
632         Andersson, Miss Sigrid Elizabeth    3rd  11.00  female         0
647            Asplund, Miss Lillian Gertrud    3rd   5.00  female         1
657                    Baclini, Miss Eugenie    3rd   3.00  female         1
680                       Boulos, Miss Laura    3rd   9.00  female         0
763   Dean, Miss Elizabeth Gladys (Millvena)    3rd   0.17  female         1
794             Emanuel, Miss Virginia Ethel    3rd   5.00  female         1
808                        Ford, Miss Maggie    3rd   9.00  female         0
829                   Goodwin, Miss Jessie A    3rd  10.00  female         0
866                  Hirvonen, Miss Hildur E    3rd   2.00  female         0
893              Johnson, Miss Eleanor Ileen    3rd   1.00  female         1
914                    Karun, Miss Anna Mary    3rd   4.00  female         1
933               Kink, Miss Louise Gretchen    3rd   4.00  female         1
936              Klasen, Miss Gertrud Emilia    3rd   1.50  female         0
1188          Sandstrom, Miss Beatrice Irene    3rd   1.50  female         0
1276                Van Impe, Miss Catharine    3rd  10.00  female         0
1283     Vestrom, Miss Hulda Amanda Adolfina    3rd  14.00  female         0

      SexCode
1           1
49          1
338         1
340         1
376         1
428         1
433         1
478         1
479         1
501         1
537         1
538         1
578         1
584         1
626         1
627         1
630         1
632         1
647         1
657         1
680         1
763         1
794         1
808         1
829         1
866         1
893         1
914         1
933         1
936         1
1188        1
1276        1
1283        1

In [23]:
dataframe['Sex']=dataframe['Sex'].replace("female","women")
print(dataframe['Sex'].replace("female","women").head(2))

0    women
1    women
Name: Sex, dtype: object

In [24]:
print(dataframe)

                                               Name PClass    Age    Sex  \
0                      Allen, Miss Elisabeth Walton    1st  29.00  women
1                       Allison, Miss Helen Loraine    1st   2.00  women
2               Allison, Mr Hudson Joshua Creighton    1st  30.00   male
3     Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00  women
4                     Allison, Master Hudson Trevor    1st   0.92   male
...                                             ...    ...    ...    ...
1308                             Zakarian, Mr Artun    3rd  27.00   male
1309                         Zakarian, Mr Maprieder    3rd  26.00   male
1310                               Zenni, Mr Philip    3rd  22.00   male
1311                               Lievens, Mr Rene    3rd  24.00   male
1312                                 Zimmerman, Leo    3rd  29.00   male

      Survived  SexCode
0            1        1
1            0        1
2            0        0
3            0        1
4            1        0
...        ...      ...
1308         0        0
1309         0        0
1310         0        0
1311         0        0
1312         0        0

[1313 rows x 6 columns]

In [25]:
print("oldest:",dataframe['Age'].max())

oldest: 71.0

In [26]:
dataframe=dataframe.rename(columns={
    "PClass":"passenger class"
})
print(dataframe.head(10))

                                            Name passenger class    Age  \
0                   Allen, Miss Elisabeth Walton             1st  29.00
1                    Allison, Miss Helen Loraine             1st   2.00
2            Allison, Mr Hudson Joshua Creighton             1st  30.00
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)             1st  25.00
4                  Allison, Master Hudson Trevor             1st   0.92
5                             Anderson, Mr Harry             1st  47.00
6               Andrews, Miss Kornelia Theodosia             1st  63.00
7                         Andrews, Mr Thomas, jr             1st  39.00
8   Appleton, Mrs Edward Dale (Charlotte Lamson)             1st  58.00
9                         Artagaveytia, Mr Ramon             1st  71.00

     Sex  Survived  SexCode
0  women         1        1
1  women         0        1
2   male         0        0
3  women         0        1
4   male         1        0
5   male         1        0
6  women         1        1
7   male         0        0
8  women         1        1
9   male         0        0

In [28]:
print(dataframe['Sex'].unique())

['women' 'male']

In [29]:
print(dataframe.groupby('Sex').mean())

             Age  Survived  SexCode
Sex
male   31.014338  0.166863      0.0
women  29.396424  0.666667      1.0

In [30]:
print(dataframe.groupby(['Sex','Survived'])['Age'].mean())

Sex    Survived
male   0           32.320780
       1           25.951875
women  0           24.901408
       1           30.867143
Name: Age, dtype: float64