In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
data_string = np.array(
    [
        '03-04-2005 11:35 PM',
        '10-04-2010 12:35 AM',
        '04-09-2009 09:09 PM'
    ]
)

In [4]:
timestap=[pd.to_datetime(data, format='%d-%m-%Y %I:%M %p') for data in data_string]

In [5]:
timestap

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-04-10 00:35:00'),
 Timestamp('2009-09-04 21:09:00')]

In [6]:
data=pd.Timestamp('2017-05-06 06:00:06')

In [7]:
data=data.tz_localize('Europe/London')
data

Timestamp('2017-05-06 06:00:06+0100', tz='Europe/London')

In [8]:
data=data.tz_convert('Africa/Abidjan')
data

Timestamp('2017-05-06 05:00:06+0000', tz='Africa/Abidjan')

In [9]:
dates=pd.Series(pd.date_range('2/2/2002',periods=3,freq='M'))
dates

0   2002-02-28
1   2002-03-31
2   2002-04-30
dtype: datetime64[ns]

In [10]:
dataframe=pd.DataFrame()
dataframe['date']=pd.date_range('1/1/2002 01:00:00',periods=10000,freq='H')

In [12]:
result=dataframe[(dataframe['date']>'2002-1-1 01:00:00')&(dataframe['date']<'2002-1-1 04:00:00')]
print(result)

                 date
1 2002-01-01 02:00:00
2 2002-01-01 03:00:00

In [15]:
dataframe=dataframe.set_index(dataframe['date'])
result=dataframe.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']
print(result)

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00

In [16]:
dataframe=pd.DataFrame()

In [17]:
dataframe['date']=pd.date_range('2002-1-1 01:00:00',periods=1000,freq='W')
dataframe['day']=dataframe['date'].dt.day

In [18]:
print(dataframe)

                   date  day
0   2002-01-06 01:00:00    6
1   2002-01-13 01:00:00   13
2   2002-01-20 01:00:00   20
3   2002-01-27 01:00:00   27
4   2002-02-03 01:00:00    3
..                  ...  ...
995 2021-01-31 01:00:00   31
996 2021-02-07 01:00:00    7
997 2021-02-14 01:00:00   14
998 2021-02-21 01:00:00   21
999 2021-02-28 01:00:00   28

[1000 rows x 2 columns]

In [19]:
dataframe=pd.DataFrame()
dataframe['date']=pd.date_range('2002-1-1 01:00:00',periods=5,freq='W')

In [20]:
dataframe['price']=[1,2,3,4,5]
dataframe['previous_price']=dataframe['price'].shift(1)
print(dataframe)

                 date  price  previous_price
0 2002-01-06 01:00:00      1             NaN
1 2002-01-13 01:00:00      2             1.0
2 2002-01-20 01:00:00      3             2.0
3 2002-01-27 01:00:00      4             3.0
4 2002-02-03 01:00:00      5             4.0

In [21]:
a=pd.to_timedelta('3 days')
print(a)

3 days 00:00:00

In [22]:
time_index=pd.date_range('2002-10-7',periods=5,freq='M')
dataframe=pd.DataFrame(index=time_index)
dataframe['sale']=[1.,2.,np.nan,np.nan,5.0]
print(dataframe)

            sale
2002-10-31   1.0
2002-11-30   2.0
2002-12-31   NaN
2003-01-31   NaN
2003-02-28   5.0

In [24]:
a=dataframe.interpolate()
print(a)

            sale
2002-10-31   1.0
2002-11-30   2.0
2002-12-31   3.0
2003-01-31   4.0
2003-02-28   5.0

In [25]:
b=dataframe.ffill()
print(b)

            sale
2002-10-31   1.0
2002-11-30   2.0
2002-12-31   2.0
2003-01-31   2.0
2003-02-28   5.0

In [27]:
c=dataframe.bfill()
print(c)

            sale
2002-10-31   1.0
2002-11-30   2.0
2002-12-31   5.0
2003-01-31   5.0
2003-02-28   5.0

In [28]:
import cv2
cv2.__version__

'4.1.2'